
/* Style reset */
* {
  margin: 0;
  box-sizing: border-box;

}

/* -- Font Family CSS to pull from -- */
/* 
font-family: 'Arapey', serif;
font-family: 'Poppins', sans-serif;
font-family: 'BodyGrotesqueFit', sans-serif;
font-family: 'OhnoBlazeFace', sans-serif;
*/

/* Add external fonts */
@font-face {
  font-family: "BodyGrotesqueFit";
  src: 
		url(fonts/BodyGrotesqueFitRegular.woff2) format('woff2'),
    url(fonts/BodyGrotesqueFitRegular.woff) format('woff'),
    url(fonts/BodyGrotesqueFitRegular.ttf) format('truetype');
}

@font-face {
  font-family: "OhnoBlazeFace";
  src: 
		url(fonts/OhnoBlazeface36.woff2) format('woff2'),
    url(fonts/OhnoBlazeface36.woff) format('woff'),
    url(fonts/OhnoBlazeface36.ttf) format('truetype');
}

/* -- Start Global Styles -- */

/* Widths */

header, footer, .hero, .work, .about, .skills, .interests, .blog, .read-more {
  width: 80%;
  max-width: 1200px;
}

/* Fonts */

html {
  font-size: 16px;
}

p, .project-text-block ul li, .project-text-block ol li {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.9;
  letter-spacing: 0.015em;
}

h1, .heading, .project-heading h2 {
  font-family: 'OhnoBlazeFace', sans-serif;
  font-size: 2.25rem;
}

h1  {
  font-size: 3.5rem;
}

.footer-connect .heading {
  padding-bottom: 1rem;
}

h2, h3, li {
  font-family: 'BodyGrotesqueFit', sans-serif;
}

h3 {
  font-size: 1.56rem;
}

figcaption {
  font-family: 'Poppins', sans-serif;
  color: dark gray;
  font-size: 0.8rem;
}

.sub-heading, .summary-block h3 {
  font-family: 'BodyGrotesqueFit', sans-serif;
  font-size: 0.75rem;
  line-height: 1.6;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

/* Links */

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

h1 a:hover {
  text-decoration: none;
}

/* Buttons */

.top-bottom-arrows {
  z-index: 1;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  border: black 1px solid;
  border-radius: 8px;
}

.top-bottom-arrows div {
  border-radius: 8px;
  background-color: white;
  transition: 400ms;
}

.top-bottom-arrows .top {
  border-radius: 8px 8px 0px 0px;
}

.top-bottom-arrows .bottom {
  border-radius: 0px 0px 8px 8px;
}

.top-bottom-arrows div:hover {
  background-color: #E9E1FD;
}

.top-bottom-arrows img {
  height: 2.5rem;
  transition: 400ms;
  padding: 0.5rem;
  z-index: 1;
}

.top-bottom-arrows img:hover {
  transform: scale(1.3);
  z-index: 1;
}

button {
  font-family: 'BodyGrotesqueFit', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  padding: 1rem 1.75rem;
  background: white;
  border-radius: 5px;
  border: black 1px solid;
  transition: 400ms;
  cursor: pointer;
}

button:hover {
  translate: 4px 4px;
  box-shadow: -4px -4px black;
  animation: colourful-tile 3s alternate infinite;
}

button:active {
  background-color: #F7FF9F;
  translate: 4px 4px;
  box-shadow: -4px -4px black;
}

button a:hover {
  text-decoration: none;
}

/* Header Nav Bar Styling */

header {
  position: sticky;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  margin: 0 auto;
  padding: 3rem 0;
}

header div {
  display: flex;
}

header div h1, header div h2 {
  font-size: 1.5rem;
  padding: 0.5rem;
}

nav {
  display: flex;
  padding: 0.5rem;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  padding-left: 1.5rem;
}

.logo {
  width: 3rem;
  padding: 0.5rem
}

/* Main Sections */

main {
  margin: 0 auto;
}

/* -- End Global Styles -- */

/* -- Start Index Page Styles -- */

/* Home Backgrounds */

.home-wrapper {
  background: #E9E1FD;
}

main .home-wrapper {
  border-bottom: black solid 1px;
}

/* Hero Section */

.hero {
  margin: 0 auto;
  height: 75vh;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.hero-image {
  max-height: 75vh;
  max-width: 30vw;
  border-bottom: 2px solid white;
  border-radius: 50%;
  margin: 0.5rem;
}

.intro h1 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
  line-height: 1.1;
}

.intro p {
  margin-bottom: 4rem;
  font-family: 'BodyGrotesqueFit', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}

.callout {
  padding: 0rem 0.4rem 0.2rem;
  font-family: 'Arapey', serif;
  font-style: italic;
  font-size: 1.5rem;
  border-radius: 2px;
  animation: highlight 3s forwards;
}

@keyframes highlight {
  from {
    color: white;
    background-color: white;
    /* border: 0.5px solid black; */
  }
  to {
    background-color:#F7FF9F;
    color: black;
    /* border: 0.5px solid black; */
  }
}

/* Featured / Work Section and Tiles */

.work {
  text-align: center;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.work h2 {
  padding: 2rem;
  font-size: 2.5rem;
}

.project-tile-block {
  display: flex;
  justify-content: center;
}

.project-tile-block a:hover {
  text-decoration: none;
}

.project-tile h3, 
.view-more-tile h3,
.project-tile p,
.project-tile li {
  font-size: 1rem;
  text-align: left;
  line-height: normal;
  margin: 1rem rem;
}

.project-tile h3 {
  font-size: 1.5rem;
  margin: 1rem;
}

.project-tile p {
  margin: 1rem;
}

.project-tile, .view-more-tile {
 display: flex;
 position: relative;
 flex-direction: column;
 justify-content: space-between;
 margin: 1rem;
 border: black solid 1px;
 border-radius: 5px;
 overflow: hidden;
 transition: 400ms;
}

.project-type-tag {
  width: fit-content;
  border-radius: 2px;
  background-color:#F7FF9F;
  position: absolute;
  left: -1rem;
  top: 0.1rem;
}

.project-tile .sub-heading {
 padding: 0.8rem 1rem;
 font-size: 0.9rem;
}

.project-tile:hover, .view-more-tile:hover {
  transform: scale(1.05);
}

.project-tile img, .view-more-tile img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.tag-block {
  margin-bottom: 1rem;
}

.tag-section li {
  margin: 0.5rem 1rem;
  display: flex;
  flex-wrap: wrap;
}

.tag-section li ul {
  border: black 1px solid;
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  margin: 0 0.5rem 0.5rem 0;
}

.tag-section li ul:hover {
  animation: colourful-tile 3s alternate infinite;
}

.technologies li ul{
  background-color: black;
  color: white;
}

.technologies li ul:hover {
  color: black;
}

/* Footer Styling */

.footer-wrapper { /* Extend background colour past the width of the content */
  background-color: #E9E1FD;
  border-top: black 1px solid;
}

footer {
  padding-top: 2rem;
  height: fit-content;
  margin: 0 auto;
}

footer h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

/* Social Connection section */
.footer-connect h2 {
  margin-bottom: 0.5rem;
}

.social-images img {
  width: 4rem;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-nav-links {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  justify-content: space-between;
}

.footer-learn-more ul, .footer-my-work ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-learn-more, .footer-my-work {
  margin-left: 4rem;
}

.footer-learn-more h3, .footer-my-work h3 {
  padding-bottom: 1rem;
}

.footer-learn-more ul li, .footer-my-work ul li {
  padding-bottom: 0.3rem;
}

footer p {
  margin-top: 1rem;
  padding-bottom: 2rem;
  font-size: 0.75rem;
}

/* -- End Index Page Styling */

/* -- Start About Page Styling -- */

/* Main text section with image */
.about {
  margin: 2rem auto;
}

.flex-wrapper {
  display: flex;
}

.about .section-header h2 {
  text-align: left;
}

.about-text {
  padding-bottom: 3rem;
  order: -1;
}

.image-button-block {
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
}

.image-button-block img {
  width: 25vw;
  border-radius: 50%;
  border: black solid 1px;
}

.image-button-block button {
  margin-top: 3rem;
  align-self: center;
}

/* Skills section */

.skills-wrapper {
  background-color:#e9e1fd25;
}

.skills {
  padding: 4rem 0;
  margin: 2rem auto;
}

.section-header {
  text-align: center;
  padding-bottom: 2rem;
}

.section-header h2 {
  padding-bottom: 1rem;
}

.skill-blocks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem 0.8rem;
  padding: 1rem;
  border-radius: 8px;
  border: black solid 1px;
  transition: 400ms;
}

.skill:hover {
  transform: scale(1.1);
}

.skill img {
  width: 5rem;
}

/* Interests Section */

.interests {
  padding-top: 4rem;
  padding-bottom: 6rem;
  margin: 0 auto;
}

.interests-block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.interests-block p {
  margin: 0.5rem 0.8rem;
  padding: 0.5rem 1rem;
  border: 1px black solid;
  border-radius: 8px;
  transition: 400ms;
}

.interests-block p:hover {
  transform: scale(1.1);
  animation: colourful-tile 3s alternate infinite;
}

.sub-section-header h3 {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

@keyframes colourful-tile {
  0% {
    background-color: rgb(255, 160, 160);
  }
  25% {
    background-color: rgb(255, 255, 175);
  }
  50% {
    background-color: rgb(210, 255, 210);
  }
  75% {
    background-color: rgb(195, 195, 255);
  }
  100% {
    background-color: rgb(255, 189, 255);
  }
}

/* -- End About Page Styling */

/* -- Start Project Pages Styling -- */
/* -- Start Global Project Styles -- */
/* Project Hero and Summary */

.no-bg, .bg {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

.project-heading {
  padding: 3rem 0rem;
}

.dive-in-link {
  padding: 1rem 0 4rem;
}

.project-hero {
  height: 60vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.project-section {
  padding: 3rem 0rem 4rem;
}

.project-summary {
  display: flex;
  justify-content: space-evenly;
  border: black solid 1px;
  border-radius: 8px;
  text-align: left;
  padding: 0.5rem;
  margin-bottom: 3rem;
}

.project-summary .summary-block {
  margin: 1rem;
  width: calc(100% / 4);
}

.project-summary h3 {
  font-weight: bold;
  color: white;
  background-color: black;
  border-radius: 5px;
  padding: 0.2rem 0.4rem;
  margin-bottom: 1rem;
}

/* Project Body */

.sub-heading {
  padding: 1.5rem 0rem;
}

.project-section div p, .project-text-block p {
  padding: 1rem 1rem 1rem;
}

.project-section div h3, .project-text-block h3 {
  padding-bottom: 1.5rem;
}

.project-text-block ul, .project-text-block ol {
  padding: 0.5rem auto;
}

.project-text-block {
  padding-bottom: 1.5rem;
}

.project-image-block {
  margin: 1rem 0rem 4rem;
  padding: 1rem;
  border-radius: 8px;
  background: white;
}

.project-image-block img, .screen-capture-block img, .atonce-screen-capture img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  background-color: transparent;
}

.project-image-block figcaption {
  text-align: right;
  color: gray;
  font-size: 0.7rem;
  padding: 1rem 2rem 1rem 1rem;
}

.project-screen-capture {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 2rem
}

.screen-capture-block {
  display: flex;
  flex-direction: column;
  height: auto;
  width: calc(90% / 2);
  margin: 0 0.5rem 2rem;
}

.screen-capture-block p {
  text-align: center;
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 1.4;
}

.final-section {
  border-bottom: black solid 1px;
}

/* View More */

.view-more {
  padding: 4rem 0;
}

.view-more-heading h2 {
  text-align: center;
  padding-bottom: 1.5rem;
}
.view-more-tile h3 {
  padding: 0.5rem 0rem 0.8rem 1rem;
}

/* -- End Global Project Styles -- */

/* -- Start Individual Project Styles -- */
/* Talk to Maple Project Styling */

.talktomaple {
  background-image: url(/images/projects/talktomaple/00_talktomaple_splash.png);
  background-color: #EFD4FF;
}

.talktomaple-header-wrapper {
  background-color: #EFD4FF;
}

.talktomaple-bg-wrapper {
  background-color: #efd4ff38;
}

.team-photo img {
  border-radius: 8px;
}

/* At Once Project Stlying */
.atonce {
  background-image: url(/images/projects/atonce/00_atonce_splash.png);
  background-color: #FFD28F;
}

.atonce-header-wrapper {
  background-color: #FFD28F;
}

.atonce-bg-wrapper {
  background-color: #ffd28f2c;
}

.quote {
  padding: 1rem;
}

.quote-body {
  text-align: center;
  font-style: italic;
  font-weight: 500;
}

.quote-reference {
  text-align: right;
  font-weight: 500;
}

.before-after h3 {
  padding-top: 1rem;
  text-align: center;
}

/* -- End Project Styles -- */

/* -- Start Blog Styles -- */
/* Global Blog Tile Styling */

.blog {
  margin: 3rem auto;
}

.blog-tile a:hover {
  text-decoration: none;
}

.blog h2 {
  padding: 2rem;
  font-size: 2.5rem;
}

.blog-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blog-tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  margin: 1rem;
  border: black solid 1px;
  border-radius: 5px;
  overflow: hidden;
  transition: 1s;
 }

 .blog-tile-text {
  padding: 1rem;
 }

 .blog-tile-text h3 {
  font-size: 1.2rem;
 }

 .blog-tile-text .sub-heading {
  font-size: 0.7rem;
  padding-top: 0.5rem;
 }
 
.blog-tile-text p {
  font-size: 0.9rem;
  line-height: 1.5;
}

 .blog-tile:hover {
   transform: scale(1.1, 1.1);
 }

.blog-tile-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.blog-arrow {
  text-align: right;
  padding: 0 1rem 1rem;
}

/* Global Blog Page Styling */

.article {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

.article {
  display: flex;
  flex-direction: column;
}

.article-image img{
  width: 100%;
  max-width: 800px;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.article-heading {
  padding-top: 2rem;
}

.article-content {
  padding-bottom: 3rem;
}

.read-more {
  margin: 0 auto;
  padding: 2.5rem 0;
}

.read-more .heading h2 {
  font-size: 2rem;
}

/* -- End Blog Styling -- */


/* -- Start Media Queries -- */

/* Smaller desktops */
@media screen and (max-width: 1200px) {

  /* Blog Tiles */
  .blog-tile {
    width: calc((100% - 4rem) / 2);
  }
}

/* Small screens and tablets */
@media screen and (max-width: 850px) {

  /* Global Styles */
  .heading .section-header {
    padding: 2rem 0 1rem;
    font-size: 1.8rem;
  }

  /* Blogs */
  .blog-tile {
    width: 100%;
  }

  .article-wrapper {
    padding-top: 5rem;
  }

  /* Projects */
  .project-tile-block {
    flex-direction: column;
  }

  .project-hero {
    height: 85vh;
  }

  .project-summary {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .project-summary .summary-block {
    margin: 0.2rem;
    width: calc(90% / 2);
  }

  /* About Text */
  .flex-wrapper {
    flex-direction: column;
  }

  .about .section-header h2 {
    text-align: center;
    padding: 3rem 0 0.5rem;
  }

  .image-button-block {
    margin-left: 0;
    align-items: center;
    order: -1;
    margin-bottom: 3rem;
  }

  .image-button-block img {
    width: 45vw;
  }

  .image-button-block button {
    margin-top: 1rem;
    padding: 0.8rem 1.3rem;
  }

  .about-text {
    text-align: center;
  }

  /* Index Hero */
  .hero {
    height: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .intro {
    text-align: center;
  }

  .intro h1 {
    padding: 5rem 0 0.25rem;
    font-size: 3rem;
  }

  .intro p {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }

  .intro button {
    padding: 0.8rem 1.3rem;
  }

  .hero-image {
    max-height: 75vh;
    max-width: 50vw;
  }

  .featured .heading h2 {
    padding: 0 0 1rem;
  }

  /* Footer */

  .footer-flex, .footer-nav-links {
    flex-direction: column;
    align-items: center;
  }

  .footer-nav-links {
    text-align: center;
  }

  .footer-nav-links div ul li {
    text-decoration: underline;
  }

  .footer-learn-more, .footer-my-work {
    margin-left: 0;
  }

  .footer-connect {
    text-align: center;
  }

  .copyright {
    text-align: center;
    padding-top: 1.5rem;
  }

  /* Header */

  header {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
  }

  nav ul li {
    padding: 0 0.75rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: underline;
  }

  nav ul {
    margin: 0;
    padding: 0;
  }

}

/* Mobile Devices */
@media screen and (max-width: 480px) {

  /* Global */

  header, footer, .hero, .work, .about, .skills, .interests, .blog, .read-more {
    width: 90%;
  }

  .heading .section-header {
    font-size: 1.5rem;
  }

  .top-bottom-arrows {
    right: 0.2rem;
    bottom: 3rem;
  }

  /* Header */

  nav ul li {
    font-size: 1rem;
  }
  
  /* Index Hero */

  .intro h1 {
    padding: 5rem 0 0.25rem;
    font-size: 2rem;
  }

  .intro p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }

  /* About Page */

  .skill img {
    width: 6rem;
  }

  .interests-block p {
    text-align: center;
  }

  /* Projects */

  .screen-capture-block {
    width: 90%;
  }

}